/* universal */
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.btn {
  background-color: #000;
  color: white;
  display: inline-block;
  width: 84px;
  padding: 15px 0 0 0;
  height: 35px;
  border-radius: 15px;
}
select {
  width: 300px;
  height: 30px;
  font-size: 1.3rem;
}
label {
  font-size: 1.2rem;
}
/* hamburger-button */
.hamburger {
  width: 30px;
  height: 20px;
  /* background-color: antiquewhite; */
  display: none;
}
.hamburger-span {
  height: 4px;
  width: 100%;
}
/* header start */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eee;
  padding: 0 20px;
}
.logo {
  color: darkgrey;
}
.logo h1 span {
  color: #d65a31;
}
.navbar .nav-list {
  display: flex;
  list-style: none;
  align-items: center;
}
.nav-link {
  text-align: center;
  text-decoration: none;
  color: black;
  margin-right: 24px;
}
.login {
  background-color: #d65a31;
  display: inline-block;
  padding-top: 10px;
  border-radius: 20px;
  width: 70px;
  height: 30px;
}
.nav-link:hover {
  color: #d65a31;
}
.login:hover {
  background-color: black;
  color: #d65a31;
}

.dr-container:hover .dropdown {
  display: flex;
}
.dropdown {
  display: none;
  flex-direction: column;
  list-style: none;
  background-color: white;
  width: 150px;
  position: fixed;
  z-index: 999;
  padding: 0;
}
.dropdown li {
  line-height: 1.5;
  padding: 16px;
}
.dropdown li:hover {
  background-color: black;
  cursor: pointer;
}
.dropdown li:hover a {
  color: #d65a31;
}
.dropdown li a {
  text-decoration: none;
  color: #000;
}
/* header end */

/* main */
main h2 {
  margin-bottom: 20px;
  padding: 20px 50px;
  font-size: 2rem;
}
.product-wrapper {
  display: flex;
  padding: 20px 50px;
  justify-content: space-between;
  margin: auto;
  gap: 10%;
}
.product-img {
  height: 100%;
}
.product-img img {
  width: 100%;
  height: auto;
  object-fit: contain;
  margin: 0px auto;
}
.product-desc {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-right: 0;
}

.product-text h3:nth-child(1) {
  color: #d65a31;
  font-size: 1.5rem;
}
.product-text p {
  text-align: justify;
  margin-bottom: 20px;
  font-family: cursive;
  line-height: 2;
  font-style: italic;
}
.spek,
.size {
  display: flex;
  flex-direction: column;
}
select {
  font-size: 1rem;
}
.spek p,
.size p {
  color: #d65a31;
  font-size: 1.3rem;
}
p.request {
  color: #000;
  font-size: 1.1rem;
  line-height: 3;
}
#request {
  height: 30px;
  width: 350px;
  margin-bottom: 40px;
}
.btn-submit {
  background-color: #000;
  margin: 20px;
  color: white;
  width: 150px;
  height: 35px;
  border: none;
  padding: 15px 0 30px 0;
}
.btn-submit:hover {
  background-color: #eee;
  color: black;
  cursor: pointer;
}
.packaging {
  padding: 30px 0;
}
.packaging p {
  color: #d65a31;
  font-size: 1.4rem;
}
input[type="radio"] {
  margin-left: 20px;
}

/* main end */
/* related products */
.relate-products-wrapper {
  width: 100%;
}
.relate-products-wrapper h2 {
  margin-bottom: 20px;
  padding: 20px 50px;
  font-size: 2rem;
}
.relate-products {
  display: flex;
  width: 90%;
  margin: auto;
  gap: 5%;
  box-sizing: border-box;
  justify-content: space-around;
}
.relate-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.relate-item img {
  height: 150px;
  object-fit: contain;
}
.btn-detail {
  margin-top: -24px;
}
.btn-detail:hover {
  background-color: white;
  color: #d65a31;
  cursor: pointer;
}
/* related products end */
/* footer */
footer {
  background-color: #3a3d46;
  height: 300px;
  display: flex;
  background-image: url("https://i.ibb.co/DKXGrBP/bg.png");
  background-repeat: repeat-y;
  background-size: 80px;
  justify-content: space-around;
  padding: 40px 40px 40px 20px;
  flex-wrap: wrap;
}
.copyright {
  width: 100%;
  text-align: center;
}
.footer-content h3 {
  color: #d65a31;
}
.footer-content a {
  display: block;
  color: white;
  line-height: 2;
}
.footer-link:hover {
  color: #d65a31;
}
.sosmed h3 {
  color: #d65a31;
}
.sosmed img {
  width: 24px;
}
.copyright {
  margin-top: 50px;
  color: grey;
}
/* footer end */
/* layar tablet */
@media screen and (max-width: 1000px) {
  header {
    flex-direction: column;
  }
  .dropdown {
    width: fit-content;
  }
  .product-wrapper {
    flex-direction: column;
  }
  .product-img {
    width: 70%;
    margin: 10px auto;
  }
  .product-desc {
    width: 100%;
  }
  .btn-submit {
    display: block;
    margin: 10px auto;
  }
  .relate-products-wrapper {
    margin-bottom: 30px;
    height: fit-content;
  }
  .relate-products {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .relate-item p {
    line-height: 0.2;
  }
  .btn-detail {
    margin-bottom: 10px;
  }
  footer {
    flex-direction: column;
    align-items: center;
    height: fit-content;
    text-align: center;
  }
  footer h3 {
    font-size: 2rem;
  }
}
/* layar hp */
@media screen and (max-width: 500px) {
  h2 {
    text-align: center;
  }
  header {
    padding-bottom: 15px;
  }
  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    position: relative;
  }
  .hamburger-input {
    width: 40px;
    opacity: 0;
    top: -4px;
    left: -4px;
    height: 40px;
    position: absolute;
  }
  .hamburger-span {
    background-color: #d65a31;
  }
  .navbar {
    position: absolute;
    background-color: #eee;
    width: 100vw;
    z-index: 999;
    top: 110px;
    right: -1000px;
    transition: all 0.7s;
  }
  .toggle {
    right: 0;
  }
  .nav-list {
    flex-direction: column;
    margin-left: -12px;
    line-height: 4;
  }
  .nav-list {
    flex-direction: column;
    line-height: 4;
  }
  .login {
    /* display: block; */
    line-height: 1;
  }
  .product-text,
  .spek {
    font-size: 0.9rem;
  }
  p.request {
    font-size: 0.9rem;
    line-height: 1.5;
  }
  #request,
  #size {
    width: 100% !important;
    height: 50px;
  }
  #request {
    margin-top: 20px;
    margin-bottom: 0;
  }
  .packaging {
    display: flex;
    flex-direction: column;
  }
  .packaging label {
    font-size: 0.9rem;
  }
  .relate-products {
    display: flex;
    /* grid-template-columns: 1fr; */
    flex-direction: column;
  }
  footer h3 {
    font-size: 1.1rem;
  }
}
